/* Logo */
header .logo {
    width: 40%;
}


/* barre de recherche */
.search-icon {
    width: 30px;
    margin: 5px;
}

/* tag */
.searchbarTags::-webkit-input-placeholder {
    color: white;
}

.searchbarTags:-ms-input-placeholder {
    color: white;
}

.searchbarTags::-ms-input-placeholder {
    color: white;
}

.searchbarTags::placeholder {
    color: white;
}

.searchbarTags {
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: white;
    border-color: transparent;
    width: 60%;
}

.searchbarTags:focus {
    outline: none;
}


.close-tag:hover {
    border-color: transparent;
}

/* filtres */
.dropdown-menu {
    max-height: 250px;
    overflow: auto;
    min-width: 100%;
}

#dropdown-ingredient .dropdown-item:hover,
#dropdown-ingredient .dropdown-item:focus,
#dropdown-ingredient .dropdown-item:active {
    background-color: #0e3b7c !important;
}

#dropdown-appliance .dropdown-item:hover,
#dropdown-appliance .dropdown-item:focus,
#dropdown-appliance .dropdown-item:active {
    background-color: #0d462c !important;
}

#dropdown-ustensil .dropdown-item:hover,
#dropdown-ustensil .dropdown-item:focus,
#dropdown-ustensil .dropdown-item:active {
    background-color: #a12632 !important;
}

/* card recette */
.card-text {
    font-size: 0.90rem !important;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}